@import url(https://fonts.googleapis.com/css?family=Muli:900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700|Source+Serif+Pro|Lato:400,700|PT+Serif:400,400i,700,700i|Montserrat:400,500,700|Noto+Serif|Work+Sans:400,500|Raleway:400,800,900|Muli&display=swap);

*,:after,:before{box-sizing:border-box}
html{font-family:sans-serif;line-height:1.15;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent}
footer,main,nav{display:block}
body{margin:0;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;font-size:1rem;font-weight:400;line-height:1.5;color:#212529;text-align:left;background-color:#fff}
[tabindex="-1"]:focus{outline:0!important}
h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:.5rem}
p{margin-top:0;margin-bottom:1rem}
dl{margin-bottom:1rem}
dl{margin-top:0}
dd{margin-bottom:.5rem;margin-left:0}
b{font-weight:bolder}
small{font-size:80%}
a{text-decoration:none;background-color:transparent;-webkit-text-decoration-skip:objects}
a,a:hover{color:#007bff}
a:hover{text-decoration:underline}
a:not([href]):not([tabindex]),a:not([href]):not([tabindex]):focus,a:not([href]):not([tabindex]):hover{color:inherit;text-decoration:none}
a:not([href]):not([tabindex]):focus{outline:0}
img{vertical-align:middle;border-style:none}
[role=button],a,button{touch-action:manipulation}
button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}
button{margin:0;font-family:inherit;font-size:inherit;line-height:inherit}
button{overflow:visible}
button{text-transform:none}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{padding:0;border-style:none}
template{display:none}
[hidden]{display:none!important}
html{-webkit-text-size-adjust:none;-webkit-font-smoothing:subpixel-antialiased;-moz-osx-font-smoothing:grayscale;-webkit-font-feature-settings:"liga","kern";font-feature-settings:"liga","kern";text-rendering:optimizeLegibility}
body{font-size:16px;font-family:"Source Serif Pro",serif;color:#353738}
h1,h2,h3,h4,h5,h6{font-family:Source Sans Pro,sans-serif;font-weight:700;line-height:1;margin:0}
a.link{color:#00b8ff}
a:hover{text-decoration:none}
.ufo--container{width:1110px;max-width:100%;margin:0 auto;padding:0 12px;}
.projects-list{display:grid;grid-template-columns:1fr;grid-column-gap:14px;grid-row-gap:24px}
.projects-list .project{max-width:100%;width:100%;position:relative;cursor:pointer;display:flex;flex-direction:column}
.projects-list .project:hover .image-container img{transform:scale(1.03);filter:blur(10px)}
.projects-list .project:hover .project-name{opacity:1;background:rgba(40,42,43,.75)}
.projects-list .project:nth-child(odd){clear:both}
.projects-list .project .image-container{position:relative;width:100%;height:100%;padding-top:100%;display:flex;overflow:hidden}
.projects-list .project img{object-fit:cover}
.projects-list .project img{width:100%;height:100%;position:absolute;top:0;left:0;transition:all .2s}
.projects-list .project .project-name{position:absolute;top:0;left:0;display:flex;flex-direction:column;align-items:center;justify-content:center;font-weight:700;color:#fff;text-align:center;z-index:2;width:100%;height:100%;padding:20px;opacity:0;transition:opacity .2s ease-out;text-decoration:none}
.projects-list .project .project-name .project-title{font-family:var(--projectTitleFont);font-size:var(--projectTitleSize);font-weight:var(--projectTitleWeight);font-style:var(--projectTitleStyle);line-height:var(--projectTitleHeight);color:var(--projectTitleColor);margin-bottom:16px}
.projects-list .project .project-name .project-subtitle{font-family:var(--projectSubTitleFont);font-size:var(--projectSubTitleSize);font-weight:var(--projectSubTitleWeight);font-style:var(--projectSubTitleStyle);line-height:var(--projectSubTitleHeight);color:var(--projectSubTitleColor)}
.projects-list .project.title-is--default:hover:not(.title-is--visible) .project-name{background-color:rgba(40,42,43,.75)}
.projects-list .project.title-is--visible .project-name{opacity:1;background-color:transparent}
.projects-list .project.title-is--visible .project-name .project-subtitle{opacity:.8}
.projects-list .project.title-is--visible:hover .image-container{box-shadow:0 10px 30px 0 rgba(0,0,0,.1)}
.projects-list .project.title-is--visible:hover .image-container img{filter:none}
.projects-list .project.title-is--below{justify-content:flex-end;flex-flow:column-reverse}
.projects-list .project.title-is--below .project-name{position:relative;height:auto;width:auto;padding:22px 0 0;margin-bottom:10px}
.projects-list .project.title-is--below .project-name .project-title{margin-bottom:7px}
.projects-list .project.title-is--below .project-name .project-subtitle{opacity:.8}
.projects-list .project.title-is--below .image-container{height:50%}
.projects-list .project.title-is--below{overflow:inherit}
.projects-list .project.title-is--below .image-container{transition:box-shadow .2s ease-out}
.projects-list .project.title-is--below:hover .image-container{box-shadow:0 10px 30px 0 rgba(0,0,0,.1)}
.projects-list .project.title-is--below:hover .image-container img{transform:scale(1.03);filter:none}
.projects-list .project.title-is--dark .project-name .project-subtitle,.projects-list .project.title-is--dark .project-name .project-title{color:#282a2b}
.projects-list .project.title-is--dark:not(.title-is--visible) .project-name{background-color:hsla(0,0%,100%,.75)}
.profile-page .projects-list{padding-left:9px;padding-right:9px}
.ufo--portfolio-container{width:100%;min-width:100%;transition:all .2s ease-in-out}
.profile_theme_default{--bgColor:#f4f7f8}
.profile_theme_default .profile-view-nav{display:flex;flex-direction:row;align-self:center;justify-content:flex-start;margin:0 9px 30px;width:100%}
.profile_theme_default .profile-view-nav .nav-item{margin-right:28px;font-family:Source Sans Pro,sans-serif;font-size:14px;line-height:1.43;color:#60676d;text-transform:uppercase;cursor:pointer}
.profile_theme_default .profile-view-nav .nav-item.active{font-weight:700}
.profile_theme_default .profile-view-nav .nav-item:hover{text-decoration: underline;}
.profile-page{padding-top:78px}
.profile-page{width:100%;min-height:100vh;margin:0 auto;padding-bottom:100px;background-color:var(--bgColor)}
.profile-page .profile-info{margin-left:9px;margin-right:9px}
.ufo--user-profile-info{--h1Color:#282a2b;--h3Color:#60676d;--textColor:#60676d;--hoverColor:#00b8ff}
.ufo--user-profile-info .profile-links{position:relative}
.ufo--user-profile-info .social-platforms a{display:inline-flex;flex-direction:row;align-items:center;justify-content:center;cursor:pointer;transition-property:color,background-color;transition-duration:.2s;background-color:var(--bgColor);color:var(--buttonColor);border:1px solid var(--borderColor)}
.ufo--user-profile-info .social-platforms a:first-child{margin-left:0}
.ufo--user-profile-info .social-platforms a:hover{color:var(--hoverColor);border-color:var(--hoverColor);background-color:var(--bgColor);transition:all .2s}
.ufo--user-profile-info .social-platforms a .fa{text-align:center}
.ufo--user-profile-info .social-platforms a .fa-email:before{content:"\f0e0";line-height:20px}
.ufo--user-profile-info .profile-button .btn{font-family:var(--buttonFont);font-size:var(--buttonSize);font-weight:var(--buttonWeight);font-style:var(--buttonStyle);line-height:var(--buttonHeight);color:var(--buttonColor);border:1px solid var(--borderColor);background-color:var(--bgColor);text-transform:uppercase;transition-property:color,background-color;transition-duration:.2s}
.profile_theme_default{--h1Font:"Source Sans Pro",sans-serif;--h2Font:"Source Sans Pro",sans-serif;--p1Font:"PT Serif",sans-serif;--projectTitleFont:"Source Sans Pro",sans-serif;--projectSubTitleFont:"PT Serif",sans-serif;--buttonFont:"Source Sans Pro",sans-serif;--borderColor:rgba(96,103,109,0.2);--h1Color:#282a2b;--h2Color:#60676d;--p1Color:#60676d;--buttonColor:#60676d;--h1Size:34px;--h2Size:20px;--p1Size:22px;--projectTitleSize:37px;--projectSubTitleSize:22px;--buttonSize:17px;--h1Height:37px;--h2Height:23px;--p1Height:25px;--projectTitleHeight:40px;--projectSubTitleHeight:25px;--buttonHeight:20px;--h1Weight:bold;--h2Weight:normal;--p1Weight:normal;--projectTitleWeight:bold;--projectSubTitleWeight:normal;--buttonWeight:bold;--h1Style:normal;--h2Style:normal;--p1Style:normal;--projectTitleStyle:bold;--projectSubTitleStyle:normal;--buttonStyle:normal;--hoverColor:#fff}
.profile_theme_default .profile-info{padding:25px;background-color:#fff;position:relative;box-shadow:0 1px 2px 0 rgba(71,84,97,.2);margin-bottom:40px;z-index:3}
.profile_theme_default .profile-info.has-picture{padding:78px 25px 25px}
.profile_theme_default .profile-info.has-picture .fake-cut{content:"";width:106px;height:56px;background:var(--bgColor);box-shadow:inset 0 0 2px 0 rgba(71,84,97,.2);border-bottom-left-radius:106px;border-bottom-right-radius:106px;position:absolute;left:50%;transform:translateX(-50%);top:0}
.profile_theme_default .profile-info.has-picture .fake-cut-line{content:"";width:104px;height:3px;background:var(--bgColor);position:absolute;left:50%;transform:translateX(-50%);top:-1px}
.profile_theme_default .profile-info .profile-picture{width:106px;height:106px;border-radius:50%;overflow:hidden;position:absolute;top:-48px;left:50%;transform:translateX(-50%);border:10px solid transparent;z-index:1;background-color:transparent}
.profile_theme_default .profile-info .profile-picture img{object-fit:cover;width:100%;height:100%}
.profile_theme_default .profile-info .profile-about{font-family:var(--p1Font);font-size:var(--p1Size);font-weight:var(--p1Weight);font-style:var(--p1Style);line-height:var(--p1Height);color:var(--p1Color);clear:both;margin-bottom:30px}
.profile_theme_default .profile-info .profile-about h1{margin-bottom:4px;text-align:center}
.profile_theme_default .profile-info .profile-about h3{text-align:center}
.profile_theme_default .profile-info .profile-links{display:flex;flex-direction:row;align-self:center;justify-content:center}
.profile_theme_default .profile-info .social-platforms{display:flex;justify-content:center;width:100%}
.profile_theme_default .profile-info .social-platforms a{width:22px;height:22px;margin-right:9px;font-size:12px!important;border-radius:50%;overflow:hidden;--textColor:#fff;--bgColor:transparent;--hoverColor:#9a9fa5}
.profile_theme_default .profile-info .social-platforms a:last-child{margin-right:0}
.profile_theme_default .profile-info .social-platforms a:hover{--bgColor:#9a9fa5;--hoverColor:#fff}
.profile_theme_default .profile-info .social-platforms a .fa{line-height:22px;text-align:center}
.profile_theme_default .ufo--container{display:grid;grid-template-columns:repeat(12,1fr);grid-column-gap:30px}
.profile_theme_default .ufo--user-profile-info,.profile_theme_default .ufo--user-projects-list{grid-column:1/span 12}
body.nav-on{overflow:hidden}
.profile-info h1{font-family:var(--h1Font);font-size:var(--h1Size);font-weight:var(--h1Weight);font-style:var(--h1Style);line-height:var(--h1Height);color:var(--h1Color)}
.profile-info h2,.profile-info h3{font-family:var(--h2Font);font-size:var(--h2Size);font-weight:var(--h2Weight);font-style:var(--h2Style);line-height:var(--h2Height);color:var(--h2Color)}
.profile-info p{font-family:var(--p1Font);font-size:var(--p1Size);font-weight:var(--p1Weight);font-style:var(--p1Style);line-height:var(--p1Height);color:var(--p1Color);margin-bottom:0}
.image-container,.media-container{text-align:center;width:100%}

@media (min-width:375px){
    .projects-list .project .project-name{padding:50px}
}

@media
(max-width:991px),(max-width:1024px)
and (orientation:landscape),(min-device-width:1024px)
and (max-device-width:1024px)
and (orientation:portrait)
and (-webkit-min-device-pixel-ratio:2),(min-device-width:1112px)
and (max-device-width:1112px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio:2),(min-device-width:1366px)
and (max-device-width:1366px) and (orientation:landscape)
and (-webkit-min-device-pixel-ratio:2) {
    .projects-list .project{--main-bg-color:#282a2b}
    .projects-list .project .image-container{height:auto}
    .projects-list .project.title-is--below{margin-bottom:0}
    .projects-list .project.title-is--below .project-name{order:0}
    .projects-list .project.title-is--dark .project-name .project-title{--projectTitleColor:#282a2b}
    .projects-list .project.title-is--dark .project-name .project-subtitle{--projectSubTitleColor:#282a2b}
}

@media (max-width:1024px){
    .projects-list .project .project-name .project-title{margin-bottom:7px;--projectTitleSize:20px;--projectTitleHeight:23px}
    .projects-list .project .project-name .project-subtitle{--projectSubTitleSize:16px;--projectSubTitleHeight:19px}
}

@media (min-width:768px){
    .profile-page .profile-info{margin-right:0;margin-left:0}
    .profile-page.profile_theme_default .profile_theme_default .profile-info.has-picture{margin-top:0}
    .profile-page .projects-list{padding-left:0;padding-right:0;grid-row-gap:14px}
    .projects-list{grid-template-columns:1fr 1fr}
    .projects-list .project.title-is--below .project-name{margin-bottom:20px}
    .profile-page.profile_theme_default{padding-top:78px;--h1Size:24px;--h2Size:14px;--p1Size:16px;--projectTitleSize:26px;--projectSubTitleSize:16px;--buttonSize:12px;--h1Height:24px;--h2Height:21px;--p1Height:23px;--projectTitleHeight:29px;--projectSubTitleHeight:19px;--buttonHeight:15px}
    .profile-page.profile_theme_default .ufo--user-profile-info{grid-column:1/span 3}
    .profile-page.profile_theme_default .ufo--user-projects-list{grid-column:4/span 9}
    .profile-page.profile_theme_default .profile_theme_default .profile-info.has-picture{margin-top:0}
    .profile-page.profile_theme_default .profile-view-nav{margin-left:0;margin-right:0}
}

@media (min-width:992px){
    .profile_theme_default .profile-info{position:sticky;position:-webkit-sticky;top:48px}
}
@media (max-width:768px){
    .profile_theme_default .profile-view-nav{justify-content:center}
}
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face{
    font-family:FontAwesome;
    src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0);
    src:url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0) format("embedded-opentype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0) format("woff2"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0) format("woff"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0) format("truetype"),url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular) format("svg");
    font-weight:400;
    font-style:normal;
    font-display: swap;
}

.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.fa-2x{font-size:2em}
.fa-3x{font-size:3em}
.fa-4x{font-size:4em}
.fa-5x{font-size:5em}
.fa-user:before{content:"\f007"}
.fa-list-alt:before{content:"\f022"}
.fa-tag:before{content:"\f02b"}
.fa-align-center:before{content:"\f037"}
.fa-align-justify:before{content:"\f039"}
.fa-list:before{content:"\f03a"}
.fa-image:before,.fa-picture-o:before{content:"\f03e"}
.fa-facebook-f:before,.fa-facebook:before{content:"\f09a"}
.fa-users:before{content:"\f0c0"}
.fa-link:before{content:"\f0c1"}
.fa-cut:before{content:"\f0c4"}
.fa-linkedin:before{content:"\f0e1"}
.fa-code:before{content:"\f121"}
.fa-info:before{content:"\f129"}
.fa-html5:before{content:"\f13b"}
.fa-css3:before{content:"\f13c"}
.fa-apple:before{content:"\f179"}
.fa-google:before{content:"\f1a0"}
.fa-at:before{content:"\f1fa"}
.fa-500px:before{content:"\f26e"}
.fa-percent:before{content:"\f295"}
.fa-fa:before{content:"\f2b4"}
.fa-user-o:before{content:"\f2c0"}
.fa-s15:before{content:"\f2cd"}

