{% extends "../common/layout.html" %}

{% block navigation %}
    <div class="profile-view-nav">
        <div class="nav-item active">Work</div>
        <a href="{{config.cvFile}}" target="_blank" rel="nofollow noopener" class="nav-item">Resume</a>
        <a href="mailto:{{config.contact.email}}" class="nav-item">Contact</a>
    </div>
{% endblock %}

{% block content %}
    <div class="ufo--user-projects">
        <div class="projects-list">
            {% for item in entries %}
                <div class="project title-is--visible title-is--below title-is--dark thumbnail-is--small thumbnail-is--small-under title-align-- title-justify--center">
                    <div class="project-name">
                        <div class="project-title">{{item.name}}</div>
                        <div class="project-subtitle">{{item.subtitle}}</div>
                    </div>
                    <div class="image-container">
                        <img src="{{item.miniCover}}" alt="{{item.name}}">
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}