{% extends "../common/layout.html" %}

{% block navigation %}
    <div class="profile-view-nav">
        <div class="nav-item active">Work</div>
        <a href="{{config.cvFile}}" target="_blank" rel="nofollow noopener" id="nav-cv-button" class="nav-item">Resume</a>
        <a href="mailto:{{config.contact.email}}" id="nav-contact-button" class="nav-item">Contact</a>
    </div>
{% endblock %}

{% block additionalHead %}
    <link rel="stylesheet" href="public/css/index.css?cache={{cacheBuster}}">
    <script src="public/js/index.js?cache={{cacheBuster}}" defer></script>
{% endblock %}

{% block content %}
    <div class="ufo--user-projects">
        <div class="projects-list">
            {% for item in projects %}
                <a href="{{item.path}}" title="{{item.name}}">
                    <div class="project title-is--visible title-is--below title-is--dark thumbnail-is--small thumbnail-is--small-under title-align-- title-justify--center">
                        <div class="project-name">
                            <div class="project-title">{{item.name}}</div>
                            <div class="project-subtitle">{{item.subtitle}}</div>
                        </div>
                        <div class="image-container">
                            <img src="{{item.thumbnail}}" alt="{{item.name}}">
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}