{% macro cover(data, config) %}
    <section class="ufo--case-study-section p_section p_section--header-main header-main">
        <div class="ufo--p-container-fluid">
            <div class="project-owner">
                <div class="owner">
                    <div class="owner-info ">
                        <div class="owner-name">
                            <a href="{{data.parentSite}}" class="previous round">&#8249;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ufo--p-container-fluid">
            <div class="image-container image-container--fluid lazy-placeholder lazy">
                <div class="main-grad"></div>
                <picture class="lazy">
                    {% for image in data.imageData.images %}
                        <source type="{{image.type}}" data-srcset="{{image.src}}">
                    {% endfor %}

                    <img class="img-small" data-src="{{(data.imageData.images | last).src}}" src="{{data.imageData.placeholder}}" alt="{{data.name}}">
                </picture>
            </div>

            <div class="text-wrapper">
                <div class="text-container txt-on-img">
                    <h1 class="grey" style="{{data.additionalStyles}}">{{data.name}}</h1>
                    <h2 class="grey" style="{{data.additionalStyles}}">{{data.subtitle}}</h2>
                </div>
            </div>
        </div>

    </section>
{% endmacro %}