{% macro fullImage(data, config) %}
<section id="section-7" class="ufo--case-study-section p_section p_section--image image " style=" ">
    <div class="ufo--p-container-fluid">
        <div class="media-container image-container--fluid display-mode--default  " style=" ">
            <div class="media-box  ">
                <div class="image">
                    <img src="{{data.src}}" alt="{{data.title}}">
                </div>
            </div>
        </div>
    </div>
</section>
{% endmacro %}