{% macro image(data, config) %}
<div class="media-container display-mode--default  " style=" ">
    <div class="media-box  ">
        <div class="image lazy-placeholder lazy">
            <picture class="lazy">
                {% for image in data.images %}
                    <source type="{{image.type}}" data-srcset="{{image.src}}">
                {% endfor %}

                <img class="img-small" data-src="{{(data.images | last).src}}" src="{{data.placeholder}}" alt="{{data.title}}">
            </picture>
        </div>
    </div>
</div>
{% endmacro %}